## EC3110 Midterm Exam

Due **Wednesday 24.02.2021 at 13:00**

Both correctness and efficiency will be taken into account when grading, so adhere to best practices. E.g., use functions when appropriate, do not nest function definitions inside each other or inside loops, use conditional statements rather than manual case handling, make sure all functions are properly documented with a docstring, etc.

In [39]:
#import nec packages
import random
import pandas as pd
import numpy as np

## Q1: Candidate Number


**15 pts**

In the box below, set the variable `CN` to your candidate number. Then in the next box write *a function* that takes an integer input and computes the sum of digits of the integer, divides this sum by 3 and returns the remainder (i.e., returns the sum of the digits <a href="https://en.wikipedia.org/wiki/Modulo_operation" target="_blank">mod 3</a>). 

For example, `1234` would return `1` since `1+2+3+4 = 10` and `10%3 == 1` 

Call this function `cnm3`.

**HINT** A valid but efficient method would be to convert the input integer to a string and loop over (and sum) the characters of the string. A faster method is to keep the input an integer and repeatedly divide by 10, taking the ones digit each time. Towards  this, the following operations might be helpful: `//` is integer division, `n // d` divides `n` by `d` *ignoring* and remainder. `%` is, of course, the mod operation that produces the remainder.

In [40]:
#enter your (actual) candidate number
CN = 2107622

In [47]:
#complete function cnm3
def cnm3(n):
    """
    input: n is an integer
    output: integer in {0,1,2}, sum of digits mod 3
    """
    #Function takes an integer input, computes the sum of all digits and then takes mod 3 of that sum.
    n_str=str(n) #Computes the input in string form
    n_sum=0 #Helper variable used to count the sum of n
    for i in n_str: #Iterates ith times in the string form of n
        n_sum += int(i) #Appends the ith integer of n onto the helper variable creating a summation of n
    n_mod=n_sum%3 #Computes the mod 3 of the sum
    return n_mod #Returns the mod 3 as an integer in {0,1,2}

In [48]:
#get key
cnm3(CN)

2

The output of `cnm3(CN)` should be in the set {0,1,2}. This is your **key**. You will use this number is the following questions.

## Q2: Random Groups


**30 pts**


Write a function, called `rand_groups` which takes as an input a list of student numbers and generates as output *random* groups of `n` students, exhausting the list. The number `n` should equal your key plus 3. For example, if your key was 1 (i.e., if `cnm3(CN) = 1`) then you should create random groups of `n = 3 + 1 = 4` students. If there is one group with less students that is okay. 

The output should be a dictionary with keys as integers, starting at 0, and values the corresponding groups (the groups can be lists of students). 

**HINT** Use a nested loop. On the outside, a `while` loop that keeps looping until we run out of students, on the inside loop, a `for` loop, draw key + 3 random students, add them to a list, remove them from the master list of students, then add this list of key + 3 students to the output. 

The random package (import below) contains the method
`random.randint(low,high)` to draw a random integer between `low` and `high` (both included). So to draw a single random student for a list called `lst` requires `random.randint(0,len(lst)-1)`.

In [49]:
#create function rand_groups
def rand_groups(l):
    """
    input: l is a list of integers
    output: final_dict is a Dictionary which returns Integers:Groups (respective to Keys:Values)
    """
    #Function inputs a list of integers and divides them into random groups of size n and generates a dictionary output
    n=cnm3(CN)+3 #Computes variable n
    rand_l=[] #Creates empty list to randomize master list
    for i in range(len(l)-1): #Iterates the loop ith times in the range of the length of l-1 
        i=np.random.randint(0, len(l)-1) #Generates a random number from 1 to the length of l-1 (represents the postion)
        rand_l.append(l[i]) #Appends the random value assigned to the position to the empty list
        l.remove(l[i]) #Removes the value from the old list 
    if len(l)==1: #Tests if the old list is of size 1 (Eventually it will be as the loop does not remove all values)
        j=np.random.randint(0, len(rand_l)-1) #Generates j, a random number from 1 to the length of rand_l-1 
        rand_l.insert(j, l[len(l)-1]) #Inserts the final value of l into the (random) jth postion of rand_l
        l.remove(l[len(l)-1]) #Removes the final value from l
    final_l=[rand_l[k:k+n] for k in range(0,len(rand_l),n)] #Using list comprehension, creates final list consisting of sublist of size n (adapted from geeksforgeeks.org)
    for m in range(len(final_l)): #Iterates mth times in range of the length of final_l
        final_dict={m:final_l[m]} #Generates a dictionary where each value of m is assigned to the mth value in final_l
        print(final_dict) #prints the entire dictionary
    return

In [50]:
#test case
l_sn = [123,124,125,126,127,128,129,130,131,132,133,134,136,167,168,169,223,224,225,226,227,228]
rand_groups(l_sn) #Runs the function using a given list input

{0: [131, 123, 132, 133, 126]}
{1: [125, 134, 223, 225, 167]}
{2: [227, 124, 228, 129, 168]}
{3: [224, 127, 128, 226, 130]}
{4: [169, 136]}

## Q3: Three Gamblers


**30 pts**


Three brothers Dmitri, Ivan, and Alexei are playing a gambling game. They roll a three sided die with three equally likely outcomes: $\{0,1,2\}$. 

 - If a 0 is rolled: Dimitri pays each of his brothers \$k where `k` is the value of your key above (i.e., either 0, 1, or 2 depending on your CN in Q1). That is, he looses 2k dollars and each other brother gains k dollars.
 - If a 1 is rolled: Ivan pays Dimitri 1 dollar (so D gains a dollar, I loses a dollar and A retains his wealth).
 - If a 2 is rolled: Alexei pays Dimitri 1 dollar (so D gains a dollar, A loses a dollar and I retains his wealth).
 
The brothers play 1000 times. Simulate this and store the results in a DataFrame where each column is a brother and the nth row contains the brothers wealth after n rolls. 

Add two column storing the outcome of the roll and the current leader (who has the highest wealth).

**Hint** this is possible using a for loop, and drawing a random integer each loop, calculating the change in wealth and then appending the row onto the DataFrame. It is also possible (and likely less coding) to calculate all the rolls as once using a Numpy array, similar to the Random Walk example at the end of Lecture 3.

In [51]:
#create dataFrame 
k=cnm3(CN) #Assigning key
D='Dimitri'  #Defines Players
I='Ivan'
A='Alexei'
payoff_dict={0:{D:-2*k , I:1*k, A:1*k}, 1:{D:1, I:-1, A:0}, 2:{D:1, I:0, A:-1}} #Defines payoff Dictionary for all players
n=0 #Helper variable for round counting
round_list=[] #Empty list for recording rounds
roll_list=[] #Empty list for recording rolls for each round
D_count=0 #Helper variable for accumulating payoffs for each player
I_count=0
A_count=0
D_list=[] #Empty list to record payoffs for each player per round
I_list=[]
A_list=[]
Leader_list=[] #Empty list to record leader for each round 

for n in range(1000): #Iterates n until desired round limit where each iteration simulates 1 round played
    n+=1 #Increase n by 1 every iteration
    r=np.random.randint(0, 3) #Assigns a random number in the range to r for that round
    D_count +=payoff_dict[r][D] #Appends the payoff to the counter per round for each player using the payoff dictionary 
    I_count +=payoff_dict[r][I]
    A_count +=payoff_dict[r][A]
    D_list.append(D_count) #Records the payoff by appending to the list per round for each player
    I_list.append(I_count)
    A_list.append(A_count)
    
    #Draw Logic:
    if max(D_count,I_count,A_count) == D_count and  D_count == I_count: #Tests if the leader's wealth is equal to the others
        Leader_list.append('Tie') #Records the wealth leader as a tie by appending to the list
    elif max(D_count,I_count,A_count) == D_count and  D_count == A_count:
        Leader_list.append('Tie')
    elif max(D_count,I_count,A_count) == I_count and I_count==A_count:
        Leader_list.append('Tie')
        
    if D_count > I_count and D_count > A_count: #Tests if the wealth of Dimitri is greater than Ivan and ALexei 
        Leader_list.append(D) #Records the wealth leader as Dimitri by appending to the list
    elif I_count > D_count and I_count > A_count: #Tests if the wealth of Ivan is greater than Dimitri and ALexei 
        Leader_list.append(I) #Records the wealth leader as Ivan by appending to the list
    elif A_count > D_count and A_count > I_count: #Tests if the wealth of Alexei is greater than Ivan and Dimitri 
        Leader_list.append(A) #Records the wealth leader as Alexei by appending to the list
        
    round_list.append(n) #Records the number of rounds as a list by appending all values of n
    roll_list.append(r) #Records every roll that took place as a list by appending all values of r
    
game_dict={D:D_list, I:I_list, A:A_list, 'Roll':roll_list, 'Leader':Leader_list} #Creates a Dictionary with the wealth of each player,  the roll list and the list of leaders

df=pd.DataFrame(game_dict, columns=[D, I, A, 'Roll', 'Leader'], index=round_list) #Generates a DataFrame using the dictionary with the specified index and columns
df

      Dimitri  Ivan  Alexei  Roll  Leader
1          -4     2       2     0     Tie
2          -8     4       4     0     Tie
3         -12     6       6     0     Tie
4         -11     5       6     1  Alexei
5         -10     5       5     2     Tie
...       ...   ...     ...   ...     ...
996      -624   304     320     2  Alexei
997      -628   306     322     0  Alexei
998      -627   306     321     2  Alexei
999      -626   305     321     1  Alexei
1000     -630   307     323     0  Alexei

[1000 rows x 5 columns]

## Q4: Unemployment by State and Year



**25 pts**

The next cell loads the file  `u.xlsx` into a DataFrame from a URL. This will only work with an active internet connection. Alternatively, you can download the excel file  `u.xlsx` from moodel and change the file path below. 

The file contains monthly unemployment statistics for US states from 1976 to 2020. The column `Perc_Unemployment` contains the unemployment rate for a given state/month/year triple. Find:

 - The state/month/year triple with the highest unemployment.
 - The state that has the highest average unemployment over the entire sample.
 - Write a function, `worst_year` that takes as an input the name of a state or area (as a string), and outputs the `k+2` years, in order, in which that state had the highest average unemployment where `k` is your key from above.

In [52]:
u = pd.read_excel("https://evanpiermont.github.io/data/u.xlsx", header=7)
#u
#this might take a second to run
#you can also download this file `u.xlsx` from the moodle page and host it locally. chaange the argument to the file path as in the lecture

In [53]:
#find higest state/month/year
u.sort_values("Perc_Unemployment", ascending = False, inplace = True) #Sorts in descending order 
u.head(1) #Displays top value 
#Adapted from geeksforgeeks.org

,FIPS code,State,Year,Month,Population,Civilian labor force,Percent of population,Tot_Employment,Perc_Employment,Tot_Unemployment,Perc_Unemployment
28172,32,Nevada,2020,4,2463149,1425549,57.9,996846,40.5,428703,30.1

In [54]:
#find highest avg over all states
u_1=pd.read_excel("https://evanpiermont.github.io/data/u.xlsx",header=7, usecols="B,C,K") #Creates new DataFrame with less columns
Avg_data=u_1.groupby(['State']).mean('Perc_Unemployment') #Creates new DataFrame and groups all states and takes the average
Avg_data.sort_values("Perc_Unemployment", ascending = False, inplace = True) #Sorts in descending order for Perc_Unemployment
Avg_data.head(1) #Displays top value

               Year  Perc_Unemployment
State
West Virginia  1998           8.048148

In [56]:
#create function worst_year
def worst_year(s):
    """
    input:  s is a string representing the chosen state
    output: DataFrame with k+2 rows 
    """
    #Function takes a state as a string input and outputs DataFrame which shows time periods with the highest average unemployment
    k=cnm3(CN) #Assigns value of key
    u_state=pd.read_excel("https://evanpiermont.github.io/data/u.xlsx",header=7, usecols="B,C,D,E,K") #Creates new DataFrame with less columns
    u_state.groupby(['State']).mean() #Redefines dataframe and groups all states and takes the average
    u_state.sort_values("Perc_Unemployment", ascending = False, inplace = True) #Sorts in descending order for Perc_Unemployment
    u_state=u_state.loc[u_state.State==s] #Redefines dataframe which satisfies the condition
    return u_state.head(k+2) #Returns the top k+2 rows in the DataFrame

worst_year('Nevada') #Runs function for any state when inputted as a string

        State  Year  Month  Population  Perc_Unemployment
28172  Nevada  2020      4     2463149               30.1
28225  Nevada  2020      5     2467207               25.1
28278  Nevada  2020      6     2471346               15.3
28331  Nevada  2020      7     2475574               14.3